# dependencies
node_modules

# package manager lock files (keep only the ones you use)
# package-lock.json  # npm
# yarn.lock         # yarn
# pnpm-lock.yaml    # pnpm
# bun.lock          # bun

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
